#channelMainDiv{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.channelsRows{
display: flex;
flex-direction:row;
flex-wrap: wrap;
}
.channelImg{
    width:308px;
    height: 204px;
}
.separateChDiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}