#channelMainDiv{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#channels{
    display: flex;
    flex-direction: column;
    margin-left:350px;
}
.channelsRows{
display: flex;
flex-direction:row;
flex-wrap: wrap;
}
.channelImg{
    width:308px;
    height: 204px;
}
.separateChDiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#play{
    display:flex;
    flex-direction: row;
}
#audioChan{
    width: 60px;
    height: auto;
}