#cha{
    text-align: center;
    font: italic 500 36px/36px "freight-display-pro", Georgia, "Times New Roman", Serif;
    color:#262626; 
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
#tune{
    text-align: center;
    color: #4c4c4c;
    font: 500 14px/16px "freight-sans-pro", Helvetica, Arial, Sans-Serif!important;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
#channelMainDiv{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#channels{
    display: flex;
    flex-direction: column;
    margin-left:350px;
}
.channelsRows{
display: flex;
flex-direction:row;
flex-wrap: wrap;
}
.channelImg{
    width:308px;
    height: 204px;
}
.separateChDiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#play{
    display:flex;
    flex-direction: row;
}
#audioChan{
    width: 60px;
    height: auto;
}

#header{
position: fixed;
padding: 0px 21px;
margin: 0px 1px;
margin-top: -20px;
width: 1500px;
height: 80px;
display: flex;
flex-direction: row;
background-color: white;
box-shadow: 5px 5px 10px rgba(206, 204, 204, 0.687);


}
#logo{
width: 152px;
height: 55px;
}
#navLeft{
display: flex;
margin-top:20px;
flex-direction: row;
height: 55px;
margin-left: 50px;
}
.socialMedia{
   width:34px;
    height:36px;
    margin-left: 50px;
}
#subscribeButton{
    background-color: rgb(40, 38, 38);
    color: white;
}
.navTxtBtn{
margin-left: 50px;
font:700 13px "freight-sans-pro", Arial, Helvetica, sans-serif;
color:#222222;
text-transform: uppercase;
letter-spacing: 1px;
}

#space{
    width: 1500px;
    height:60px ;
}
#topSecondPage{
    width: 1500px;
    height: 320px;
    padding:21px 20px 21px;
background-image:url("../assets/clover_card.jpg");
background-color: rgba(0, 0, 0, 0.484);
background-repeat: no-repeat;
background-blend-mode: darken;
background-size:cover;
background-position-y: -400px;
}
#textTopSecPage{
display: flex;
flex-direction: column;
margin-top: 100px;
align-items: center;

}
#spotL{
    font:700 13px "freight-sans-pro", Arial, Helvetica, sans-serif;
    color:#fff;
    margin: 0 auto 10px;
}
#lPhys{
font: 13px "freight-sans-pro", Arial, Helvetica, sans-serif;
color: #ffb618;
text-align: center;
font-size: 50px;
font-weight: 300px;
letter-spacing: 0.07px;
width: 980px;
height:96px;
margin: 0px 1px 13px;
}
#read{
    font: 700 12px/1px "freight-sans-pro", Helvetica, Arial, Sans-Serif;
    color: #222222;
    background: #fff;
    border: 2px solid #000;
    width: 100px;
    height: 37px;
    padding: 18px 12px auto;
    margin-top: 25px;
}
#secondBottom{
display: flex;
flex-wrap: wrap;
flex-direction: row;
}